body {
  background-color: #ffffff; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; }

p {
  margin: 0 auto;
  padding: 0; }

label,
legend,
input,
form,
fieldset,
select,
a,
h2,
button {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none; }

select {
  font-size: 14px; }

a {
  color: #5a85d7;
  transition: color 0.5s ease; }

a:hover,
a:focus {
  color: #19549a;
  text-decoration: none; }

h2 {
  font-size: 24px;
  line-height: 29px; }

select,
iframe {
  display: block; }

iframe {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #d5d5d2; }

label {
  margin: 0 auto;
  padding: 0;
  margin-top: 10px; }

input,
select {
  border: 1px solid #d5d5d2;
  display: block;
  margin: 5px auto;
  padding: 4px; }

input {
  width: 100%; }

fieldset {
  padding: 1.5em 1em 1.5em;
  text-align: center;
  border: 1px solid #d5d5d2;
  background-color: #eeeded; }

legend {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  width: 40%;
  border: 0; }

form {
  margin: 0 auto;
  width: 100%; }

button {
  background-color: #ffffff;
  color: #456fc4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid #456fc4;
  transition: background-color 0.5s ease; }

button:hover {
  background-color: #19336a; }

figure {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding-top: 8%; }

figcaption {
  padding: 0 0 3% 0; }

figcaption .title {
  color: #5a85d7; }

iframe::-webkit-scrollbar {
  display: none; }

#veil {
  position: fixed;
  display: block;
  background-color: #231f20;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999;
  opacity: 1;
  transition: opacity 1s ease; }

.info-nav {
  display: inline; }

.info-bar span, .subject-bar span {
  padding: 0 20px;
  font-size: 29px;
  font-weight: lighter; }

.subject-bar {
  margin-top: 0 !important;
  padding: 10px 0 !important; }

.navbar {
  min-height: 0; }

.date {
  font-size: 16px;
  margin: 0 auto;
  margin-top: 8px;
  float: right; }

#email_name_nav, #subject_nav {
  margin-top: 100px;
  position: relative;
  z-index: 1029;
  background-color: #b3b3b2 !important; }

#email_name_nav .container, #subject_nav .container {
  height: 0; }

#subject_nav {
  margin-top: 0;
  background-color: #d5d5d2 !important; }

#subject_nav .info-bar, #subject_nav .subject-bar {
  background-color: #d5d5d2 !important; }

#subject_nav {
  margin-top: 0 !important; }

.info-bar, .subject-bar {
  background-color: #b3b3b2;
  padding: 14px 0; }

.info-bar h1, .subject-bar h1 {
  font-weight: lighter !important;
  color: #222222;
  font-size: 24px;
  line-height: 30px; }

.subject {
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  padding: 4px 0 14px 0; }

.leftSide {
  margin-top: 4% !important; }

#email_name {
  font-weight: bold;
  margin: 0 auto; }

.chartOverlay {
  margin-top: -200px; }

.pieOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  z-index: 999999;
  transition: opacity 0.5s ease; }

.pieOverlay h2 {
  position: absolute;
  width: 200px;
  margin-left: 18%;
  margin-top: 23%;
  font-weight: bold;
  font-size: 36px !important;
  color: #5a85d7 !important;
  text-align: center;
  z-index: 999999; }

.pieBG {
  margin: 0 auto;
  position: absolute;
  margin-top: 7%;
  margin-left: 25%;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background-color: #ffffff;
  z-index: 999998; }

circle {
  fill: #dddddd;
  stroke: #5a85d7;
  stroke-width: 100;
  stroke-dasharray: 0 314;
  transition: stroke-dasharray 0.3s ease; }

svg {
  margin: 0 auto;
  transform: rotate(-90deg);
  background: #dddddd;
  border-radius: 50%;
  display: block; }

.inl {
  display: inline-block;
  width: 40%;
  vertical-align: bottom; }

.info-cont {
  margin-top: 10%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #eeeeee;
  border: 1px solid #dddddd; }

figcaption h3 {
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px; }

figcaption h2 {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 24px;
  color: #5a85d7 !important; }

.chartOverlay svg {
  border-radius: 25%; }

.video-overlay, .overlay {
  position: absolute;
  width: 100%;
  z-index: 199999; }

.video-overlay iframe, .overlay iframe {
  margin-right: 10%; }

#videoOverlay {
  display: none;
  transition: all 0.5s ease; }

#vid-tut {
  opacity: 1;
  transition: all 0.5s ease; }

.bold {
  padding: 0;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }

.highlight {
  color: #5a85d7; }

.font-brand {
  margin-top: 6px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 17px; }

#copyPaste {
  transition: all 0.5s ease; }

.copy_button {
  margin-top: 40px;
  width: 120px;
  height: 40px;
  font-size: 16px; }

#padTop {
  margin-top: 0%;
  margin-left: 0%;
  left: -50%;
  position: fixed;
  padding-top: 60px;
  padding-left: 100px;
  z-index: 200000;
  height: 110%;
  width: 35%;
  background-color: white;
  transition: all 0.5s ease; }

#submit, #close-button {
  margin: 0 auto;
  margin-top: 1.5em;
  background-color: #ffffff;
  color: #5a85d7;
  border: 1px solid #5a85d7;
  width: 120px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  transition: all 0.5s ease; }

#submit:hover, #close-button:hover {
  color: #ffffff;
  background-color: #5a85d7; }

#close-button {
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 1em; }

button input {
  font-size: 14px;
  line-height: 19px;
  vertical-align: middle; }

.ms-nav .container {
  height: 100px; }

.ms-nav {
  margin: 0 auto;
  background-color: #222222;
  border: 0; }

.navbar-brand {
  margin: 0 auto; }

.navbar-title {
  font-size: 16px;
  line-height: 22px;
  display: block;
  margin-top: 60px; }

#ms-brand a {
  font-size: 20px;
  color: #5a85d7;
  transition: all 0.5s ease; }

#ms-brand a:hover {
  text-decoration: none;
  color: #19549a; }

.notSelectable {
  margin: 0 auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.selectable {
  -moz-user-select: all;
  -khtml-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all; }

.instructions, .email_preview, .instructionsForm {
  margin-top: 2%;
  padding: 1.5em 2em 1.5em; }

.email_preview {
  padding: 0; }

.instructions h2, .email_preview h2, .instructionsForm h2,
.instructions li, .email_preview li, .instructionsForm li {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #231f20; }

.instructions ol, .email_preview ol, .instructionsForm ol {
  margin: 0 auto;
  padding: 0;
  margin-left: 30px; }

ol li {
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 10px; }
  ol li ul {
    list-style: none;
    width: 100%;
    margin: 20px auto 10px auto;
    padding: 0;
    padding: 20px 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #eeeded; }
    ol li ul li {
      display: block;
      font-size: 14px;
      line-height: 17px;
      padding: 0 10px;
      margin: 10px auto; }

#blackBG {
  position: fixed;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: transparent;
  z-index: 55555;
  transition: all 0.5s ease; }

.phone-list {
  display: block;
  width: 100%; }

.phone-ext {
  display: inline;
  width: 20%; }

.phone-list label,
.phone-list input,
.phone-ext label,
.phone-ext input {
  display: inline; }

.phone-list input {
  width: 70%; }

.phone-ext input {
  width: 20%; }

.overlay {
  margin-top: 35%;
  text-align: center; }

.overlay > .copy {
  margin: 0 auto;
  width: 65%; }

.hover {
  box-shadow: 0px 0px 20px #5a85d7;
  -webkit-box-shadow: 0px 0px 20px #5a85d7;
  -moz-box-shadow: 0px 0px 20px #5a85d7;
  transition: all 0.5s ease; }

#default {
  margin: 0 auto; }

.copy h1 {
  font-size: 28px;
  line-height: 34px; }

@media screen and (max-width: 1200px) {
  #blackBG {
    height: 110%;
    width: 180%; }
  .phone-list input {
    width: 67%; }
  .phone-ext input {
    width: 20%; }
  #padTop {
    width: 50%; }
  .pieBG {
    margin-top: 9%;
    margin-left: 20%; }
  .pieOverlay h2 {
    margin-top: 28%;
    margin-left: 13%; } }

@media screen and (max-width: 992px) {
  #padTop {
    left: -1000px;
    width: 100%; }
  .overhang {
    width: 100%; }
  .instructions, .email_preview, .instructionsForm {
    margin-top: 14%; }
  .copyInst {
    margin-top: 0; }
  .instructionsForm {
    margin-top: 20%; }
  .email_preview {
    margin-top: 4%; }
  #form {
    margin: 0 auto; }
  .phone-list input {
    width: 71%; }
  .phone-ext input {
    width: 10%; }
  .pieBG {
    margin-top: 7%;
    margin-left: 24%; }
  .pieOverlay h2 {
    margin-top: 24%;
    margin-left: 17%; } }

@media screen and (max-width: 767px) {
  .navbar-nav {
    float: right; }
  .navbar-title {
    margin-top: 0;
    display: none; }
  fieldset {
    padding: 0.75em 0; }
  form {
    width: 100%; }
  .instructions, .email_preview, .instructionsForm {
    margin-top: 20%; }
  .instructionsForm {
    margin-top: 40%; }
  .email_preview {
    margin-top: 40%; }
  .padTop {
    margin-top: 8%; }
  #padTop {
    margin-top: 0;
    margin-left: 0;
    padding-left: 40px; }
  .copyInst {
    margin-top: 0; }
  .phone-ext input {
    width: 15%; } }

@media screen and (max-width: 440px) {
  .phone-list input {
    width: 67%; }
  .phone-ext input {
    width: 15%; } }
